[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "grc"]
	path = extras/grc
	url = git@github.com:garabik/grc.git
[submodule "extras/code-maat"]
	path = extras/code-maat
	url = git@github.com:adamtornhill/code-maat.git
[submodule "extras/oh-my-zsh"]
	path = extras/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "extras/vagrant_dev"]
	path = extras/vagrant_dev
	url = git@github.com:caesargus/vagrant_dev.git
[submodule "awslogs"]
	path = extras/awslogs
	url = git@github.com:jorgebastida/awslogs.git
[submodule "extras/php_am_debug"]
	path = extras/php_am_debug
	url = git@github.com:caesargus/php_am_debug.git
[submodule "extras/coreos-vagrant"]
	path = extras/coreos-vagrant
	url = git@github.com:coreos/coreos-vagrant.git
