[alias]
    changes = log --stat
    graph = log --graph --pretty=format:'%C(red)%h%Creset -%C(yellow bold)%d%Creset %s %C(green)(%cr) %C(blue bold)<%an>%Creset' --abbrev-commit --date=relative
    lines = diff --shortstat 4b825dc642cb6eb9a060e54bf8d69288fbee4904
    listlog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %C(bold cyan)%an%C(reset)%C(bold yellow)%d%C(reset)'
[color]
    ui = auto
[core]
    autocrlf = input
    eol = lf
    pager = ~/.config/git/delta-with-fallback.sh --color-only
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[credential]
    helper = libsecret
[delta]
    navigate = true
[diff]
    colorMoved = default
    compactionHeuristic = 1
    renamelimit = 4000
[include]
    path = ~/.gitconfig.local
[init]
    defaultBranch = main
[interactive]
    diffFilter = ~/.config/git/delta-with-fallback.sh --color-only
[merge]
    conflictstyle = diff3
    summary = true
    tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[pull]
    rebase = false
[push]
    default = simple
